.accordion__section {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 50px;
    align-items: center;
    margin-bottom: 10px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
    width: 800px;
    height: 25px;
    border-radius: 5px;
    /* margin-bottom: 20px; */
    margin-top: 10px;
    background-color:#ff6060;
}

.accordion:hover {
    background-color: #ccc;
}

.accordion__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffff;
}

.accordion__icon {
    margin-left: auto;
    transition: transform 0.6 ease;
}

.rotate {
    transform: rotate(180deg);
}

.accordion__content {
    background-color: #F6F6F6;
    overflow: hidden;
    transition: max-height 0.6s ease;
    max-height: 150px;
    width: 800px;
    border-radius: 5px;
}

.accordion__text{
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 24px;
    padding: 18px;
    line-height: 34px;
    color:#ff6060
}
