.tag {
    background-color: #FF6060;
    color: #fff;
    width: 120px;
    max-width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 20px;
}

p {
    font-size: 14px;
    font-family:'Montserrat';
    font-weight: 500;

}