.tag {
    background-color: #FF6060;
    color: #fff;
    width: auto;
    max-width: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-left: 20px;
}

p {
    font-size: 14px;
    font-family:'Montserrat';
    font-weight: 500;
}